/* Global Styles */
body {
    background-color: #8B0000;
    font-family: Book Antiqua, serif;
    color: #FFFFFF;
    zoom: 80%;
}

h1 {
    text-align: center;
    font-family: Bahnschrift SemiBold Condensed, sans-serif;
    font-size: 24px;
    color: #FFFFFF;
}

/* Table Styles */
table {
    border: 5px solid #FFFFFF;
    text-align: left;
    width: 1610px;
    height: 334px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #FFFFFF;
    padding: 10px;
}

/* Heading Styles */
h2 {
    font-family: Bahnschrift, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/* Image Styles */
img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
